<!DOCTYPE=html>

<html>
  <head>
    <title>Weather Request</title>
    <style>
      body {background-color: lightpink;
      }
      form {text-align: center;
            font-size: 35px;
            padding-top: 150px;
      }
      input {width: 20%;
            height: 30px;
      }
    </style>
  </head>
  <body>
      <form method="POST" action="/get_weather">
        City : <input type="text" name="city_name">
        <input type="submit">
      </form>
      <figure>
        <img style="max-width: 35em;" class="pure-img: center;" src="fair-weather-traveller/WeatherApp/static/img/skyline.jpg" alt="Cityscape"></img>
      </figure>
  </body>
</html>
