<!DOCTYPE=html>

<html>
  <head>
    <title>Weather Request</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='2weather.css') }}">
  </head>
  <body>
      <form class="input" method="POST" action="/get_weather">
        City : <input type="text" name="city_name">
        <input class="button" type="submit">
      </form>
      <figure>
        <img style="max-width: 35em;" src="{{url_for('static',filename='skyline.jpg') }}" alt="Cityscape"></img>
      </figure>
  </body>
</html>
