<!DOCTYPE=html>

<html>
  <head>
    <!--<link rel="stylesheet" type="text/css" href="fair-weather-traveller/static/2weather.css/2weather.css">-->
    <title>Current Weather</title>
      <style>
        body {background-color: powderblue;
        }
        h1   {color: blue;
              text-align: center;
        }
      </style>
  </head>
  <body>
  <!--<h1> The current weather is: {{ main }}. </h1>-->
  <h1> The current temperature (F) is : {{ temp }} degrees. </h1>
  <!--<h1> The current windspeed (kph) is : {{ speed }} km per hour. </h1>-->
  </body>
  </html>
